<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order with ID {{ order.id }}</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Items in the order: </h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price ({{ currency }})</th>
        </tr>
        {% for item in order.items.all %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price_in_main_unit }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Total price:  {% if currency == "usd" %} $ {% elif currency == "eur" %} € {% endif %}{{ order.total_price_in_main_unit }}</p>

    <button id="pay-button-s">Proceed to payment using Session</button>
    <button id="pay-button-pi">Proceed to payment using Payment Intent</button>

    <script type="text/javascript">
      var stripe = Stripe("{{ stripe_public_key }}");
      var payButtonSession = document.getElementById('pay-button-s');
      
      payButtonSession.addEventListener('click', function() {
        fetch("/payfororder/{{ order.id }}", { method: 'GET' })
          .then(response => response.json())
          .then(sessionIdJson => stripe.redirectToCheckout({ sessionId: sessionIdJson.session_id }))
          .catch(function(error) {
            console.error('Error creating Stripe checkout session:', error);
          });
      });

      var payButtonPaymentIntent = document.getElementById('pay-button-pi');

      payButtonPaymentIntent.addEventListener('click', function() {
          fetch('/paymentintent/{{ order.id }}/')
              .then(response => response.json())
              .then(function(data) {
                  if (data.client_secret) {
                    window.location.href = `/paymentpage/?clientSecret=${data.client_secret}&totalPrice=${data.total_price}&finalAmount=${data.final_amount}&tax=${data.tax_amount}&discount=${data.discount_amount}&currency=${data.currency}`;
                  }
              })
      });
    </script>
</body>
</html>
